<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="header::header-fragment"></header>
<body ontouchstart>
<div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
<div class="container" id="container"></div>

<div class="page">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="weui-navbar login_navbar">
                <div class="weui-navbar__item" id="login_btn">
                    登录
                </div>
                <div class="weui-navbar__item weui-bar__item_on" id="reg_btn">
                    注册
                </div>
            </div>
            <div class="weui-tab__panel">

                <div class="weui-form login-form">
                    <div class="weui-form__control-area login-form_control-area">
                        <div class="weui-cells__group weui-cells__group_form">
                            <div class="weui-cells weui-cells_form">
                                <form id="reg_from">
                                <div class="weui-cell weui-cell_active" id="phone_cell">
                                    <div class="weui-cell__hd"><label class="weui-label">昵称</label></div>
                                    <div class="weui-cell__bd weui-flex">
                                        <input id="nickName" name="nickName" class="weui-input" placeholder="填写您在本系统中的昵称" th:value="${session_wechatuser.getNickname()}" />
                                        <button id="js_input_clear" class="weui-btn_reset weui-btn_icon weui-btn_input-clear">
                                            <i class="weui-icon-clear"></i>
                                        </button>
                                        <input type="hidden" id="openid" name="openid" th:value="${session_wechatuser.getOpenid()}" />
                                    </div>
                                </div>

                                <div class="weui-cell weui-cell_active">
                                    <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
                                    <div class="weui-cell__bd">
                                        <input type="number" pattern="[0-9]*"  id="phone" name="phone" class="weui-input" placeholder="填写您的手机号码" maxlength="11" minlength="11" />
                                    </div>
                                </div>
                                <div class="weui-cell weui-cell_active" style="display: none;">
                                    <div class="weui-cell__hd"><label class="weui-label">手机验证码</label></div>
                                    <div class="weui-cell__bd">
                                        <input id="phoneCode" name="phoneCode" class="weui-input" placeholder="填写您的手机接收到的验证码" type="number" pattern="[0-9]*" maxlength="6" />
                                    </div>
                                </div>
                                <div class="weui-cell weui-cell_active" id="userPassword_cell">
                                    <div class="weui-cell__hd"><label class="weui-label">用户密码</label></div>
                                    <div class="weui-cell__bd">
                                        <input type="password" id="userPassword" name="userPassword" class="weui-input" placeholder="填写您为本系统设置的用户密码" pattern="[0-9a-zA-Z]*" minlength="3" maxlength="20"  />
                                    </div>
                                </div>
                                <div class="weui-cell weui-cell_active" id="userPassword2_cell">
                                    <div class="weui-cell__hd"><label class="weui-label">确认密码</label></div>
                                    <div class="weui-cell__bd">
                                        <input type="password" id="userPassword2" name="userPassword2" class="weui-input" placeholder="重复上面的用户密码" pattern="[0-9a-zA-Z]*" minlength="3" maxlength="20"  />
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="weui-form__tips-area">
                        <p class="weui-form__tips" style="display: none">
                            请填写完整表单信息！
                        </p>
                    </div>
                    <div class="weui-form__opr-area">
                        <a class="weui-btn weui-btn_primary weui-btn_disabled" href="javascript:" id="showTooltips">注册</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="ajax_toast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content" id="ajax_toast_msg">已完成</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $('.weui-navbar__item').on('click', function () {
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
        });
        $('#login_btn').on('click', function () {
            window.location = "/wxl/uc/login";
        });

        var $ajax_toast = $('#ajax_toast');
        var $tooltips = $('.js_tooltips');
        var $phone = $('#phone');
        var $phone_cell = $('#phone_cell');
        var $userPassword = $('#userPassword');
        var $userPassword_cell = $('#userPassword_cell');
        var $userPassword2 = $('#userPassword2');
        var $userPassword2_cell = $('#userPassword2_cell');
        var $inputClear = $('#js_input_clear');

        $phone.on('input', function(){
            if ($phone.val()){
                $('#showTooltips').removeClass('weui-btn_disabled');
            }else{
                $('#showTooltips').addClass('weui-btn_disabled');
            }
            if ($phone_cell.hasClass('weui-cell_warn')){
                $phone_cell.removeClass('weui-cell_warn');
            }
        });
        $userPassword.on('input', function(){
            if ($userPassword_cell.hasClass('weui-cell_warn')){
                $userPassword_cell.removeClass('weui-cell_warn');
            }
        });
        $userPassword2.on('input', function(){
            if ($userPassword2_cell.hasClass('weui-cell_warn')){
                $userPassword2_cell.removeClass('weui-cell_warn');
            }
        });

        $('#showTooltips').on('click', function(){
            if ($(this).hasClass('weui-btn_disabled')) return;

            var $phone_value = $phone.val();
            var $userPassword_value = $userPassword.val();
            var $userPassword2_value = $userPassword2.val();

            if ($tooltips.css('display') != 'none') return;

            // toptips的fixed, 如果有`animation`, `position: fixed`不生效
            $('.page.cell').removeClass('slideIn');

            if($phone_value.length != 11){
                $phone_cell.addClass('weui-cell_warn');
                $tooltips.text("手机号码填写错误，请检查！");
                $tooltips.fadeIn(100);
                setTimeout(function () {
                    $tooltips.fadeOut(100);
                }, 2000);
            } else if($userPassword_value.length < 3 || $userPassword_value.length > 20){
                $userPassword_cell.addClass('weui-cell_warn');
                $tooltips.text("允许的用户密码长度在3到20个之符之间，请检查！");
                $tooltips.fadeIn(100);
                setTimeout(function () {
                    $tooltips.fadeOut(100);
                }, 2000);
            } else if($userPassword_value != $userPassword2_value) {
                $userPassword2_cell.addClass('weui-cell_warn');
                $tooltips.text("确认密码与用户密码不一致，请检查！");
                $tooltips.fadeIn(100);
                setTimeout(function () {
                    $tooltips.fadeOut(100);
                }, 2000);
            } else{
                $.ajax({
                    url: '/wxl/uc/reg',
                    type: 'post',
                    data: $('#reg_from').serialize(),
                    dataType: "json",
                    success: function (json) {
                        if (json.status == 200) {
                            if(json.message) {
                                $('#ajax_toast_msg').text(json.message);
                            } else {
                                $('#ajax_toast_msg').text("注册成功了，请登录！");
                            }
                            if ($ajax_toast.css('display') != 'none') return;
                            $ajax_toast.fadeIn(100);
                            setTimeout(function () {
                                $ajax_toast.fadeOut(100);
                                window.location = json.data;
                            }, 2000);
                        } else {
                            /*
                            $('#ajax_toast_msg').text("注册失败:" + json.message);
                            if ($ajax_toast.css('display') != 'none') return;
                            $ajax_toast.fadeIn(100);
                            setTimeout(function () {
                                $ajax_toast.fadeOut(100);
                            }, 2000);*/
                            $tooltips.text("注册失败:" + json.message);
                            $tooltips.fadeIn(100);
                            setTimeout(function () {
                                $tooltips.fadeOut(100);
                            }, 3000);
                        }
                    }
                });
            }
        });
        $inputClear.on('click', function(){
            $phone.val('');
        });
    });
</script>
<footer th:replace="footer::footer-fragment"></footer>
</body>
</html>