body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}
h1 {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}
.centered {
    text-align: center;
}
/* Links */
a {
    color: #1abc9c;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}
a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.copyrights{
    text-indent:-9999px;
    height:0;
    line-height:0;
    font-size:0;
    overflow:hidden;
}
.navbar {
    text-transform: uppercase;
    margin-bottom: 0px;
}
.navbar-inverse {
    padding-bottom: 70px;
    padding-top: 70px;
}
.navbar-inverse {
    background-color: #1abc9c;
    border-color: #16a085;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #222222;
}
.navbar-brand {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.progress-bar-theme {
    background-color: #1abc9c;
}
/* Helpers */
.mt {
    margin-top: 40px;
    margin-bottom: 40px;
}
.pt {
    padding-top: 50px;
    padding-bottom: 50px;
}
/* +++++ WRAP SECTIONS +++++ */
#ww {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f2f2f2;
}
#footer {
    background-color: #2f2f2f;
    padding-top: 50px;
    padding-bottom: 50px;
}
#footer p {
    color: white;
}
#footer h4 {
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}
/* +++++ Color Wraps / Blog Page +++++ */
#grey {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f2f2f2;
}
#white {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
}
/* Blog Date*/
bd {
    font-size: 12px;
    text-transform: uppercase;
    color: #d2d2d2;
    font-weight: 700;
}
/* Blog Author*/
ba {
    font-size: 12px;
    text-transform: uppercase;
}
/* Blog Quote */
.bq {
    font-size: 22px;
    padding-top: 30px;
}
/* Blog Tags */
bt {
    font-size: 12px;
}
/* ================== PORTFOLIO IMAGES HOVER EFFECT ================== */
/* Effects also are controled by hover.zoom.js */
.zoom {
    display:block;
    position:relative;
    overflow:hidden;
    background:transparent url(../../images/blog/loader.gif) no-repeat center;
}
.zoomOverlay {
    position:absolute;
    top:0; left:0;
    bottom:0; right:0;
    display:none;
    background-image:url(../../images/blog/zoom.png);
    background-repeat:no-repeat;
    background-position:center;
}
.zoom2 {
    opacity: 1;
}
.zoom2:hover {
    opacity: 0.5;
}
/* glyphicon Configuration */
.glyphicon {
    font-size: 40px;
    color: #1abc9c;
}
.footer-tags a{color: #1abc9c; border: 1px solid #1abc9c; padding: 4px 10px;line-height: 2.4;font-size: 13px;text-transform: capitalize;}
.footer-tags a:hover{color: #fff;text-decoration: none;background: #0aac8e;border: 1px solid #0aac8e;}
/*page*/
.page{
    list-style: none;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #0AAC8E;
    margin: 5px;
    background-color: #0AAC8E;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #0AAC8E;
    background-color: #0AAC8E;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: 5px;
    background-color: #DDDDDD;
}
/*search*/
* {box-sizing: border-box;}
body{margin: 0;}
div.search {padding: 0px 0px 10px}
form {
    position: relative;
    width: 70%;
    margin: 0 auto;
}
.search-result-empty{text-align: center;line-height: 12pt; padding: 20px auto 50px auto; margin-bottom: 50px; color: #ef4f4f; font-size: 16px;}
.d1 {background: #A3D0C3;}
.d1 input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}
.d1 button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #7BA7AB;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
.d1 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
/*.d2 {background: #DABB52;}*/
.d2 input, .d2 button {
    border: none;
    outline: none;
    border-radius: 3px;
}
.d2 input {
    width: 100%;
    height: 42px;
    background: #F9F0DA;
    padding-left: 15px;
}
.d2 button {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    background: #0AAC8E;
    cursor: pointer;
}
.d2 button:before {
    content: "\f002";
    font-family: FontAwesome;
    color: #F9F0DA;
    font-size: 20px;
    font-weight: bold;
}
.d3 {background: #F9F0DA;}
.d3 form {
    background: #A3D0C3;
}
.d3 input, .d3 button {
    border: none;
    outline: none;
    background: transparent;
}
.d3 input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
}
.d3 button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.d3 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
.d4 {background: #F15B42;}
.d4 form {
    background: #F9F0DA;
    border-bottom: 4px solid #be290e;
}
.d4 input, .d4 button {
    border: none;
    outline: none;
    background: transparent;
}
.d4 input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
}
.d4 button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.d4 button:before {
    content: "\f178";
    font-family: FontAwesome;
    font-size: 20px;
    color: #be290e;
}
.d5 {background: #683B4D;}
.d5 input, .d5 button {
    outline: none;
    background: transparent;
}
.d5 input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
    border: 3px solid #F9F0DA;
}
.d5 button {
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.d5 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
.d5 input:focus {
    border-color: #311c24
}
.d6 {background: #B46381;}
.d6 form {
    height: 42px;
}
.d6 input {
    height: 100%;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.d6 input:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
}
.d6 button {
    background: #683B4D;
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.d6 button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
.d7:after {content:""; clear:both; display:table}
.d7 form {
    width: auto;
    float: right;
    margin-right: 30px;
    right:0;
}
.d7 input {
    width: 100%;
    height: 30px;
    /*padding-left: 15px;*/
    border-radius: 30px;
    border: 2px solid #324b4e;
    background: #F9F0DA;
    outline: none;

    vertical-align:middle;
    line-height:30px;
}
@media screen and (max-width:500px){/*当屏幕宽度大于等于520像素,宽度设置为固定320px，这种方法不用刷新的，自动判断的，但必须要写在原本样式下面*/
    .d7 input{width: 320px;}
    .d7 form{display: none;}
}
.d7 input:focus {
    width: 320px;
}
.d7 button {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    position: absolute;
    top: 11px;
    right: 0;
}
.d7 button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
}
/*form error msg*/
.error{color: #ff0000;}
/*others*/
.tag-article-title{padding: 10px; color: #1f1f1f; font-size: 12pt;}