<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/header::commonHeader"></head>
<body>
<div th:include="blog/navigation::commonNavigation"></div>

<div id="ww">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <img th:src="@{/assets/images/blog/user.png}" alt="[[${blogConfig.blogName}]]">
                <h1 th:text="${article.articleName}"></h1>
                <div th:utext="${article.articleShowContent}"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="blog/footer::commonFooter"></div>
</body>
</html>