
/* 重置样式 */
body,html{ width:100%; height:100%;}
body{ font:12px Arial,Helvetica,sans-serif; color:#333; background:#fff;}
body,div,p,span,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,pre,form,tr,td,th,table{border:0px; padding:0px; margin:0px;}
img,a img{margin:0px; padding:0px; border:0px; font-size: 0px; line-height: 0px;}
h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal;}
ul,li,ol,dt,dl,dd{ list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
address,cite,pre,code,em,th,i{font-weight:normal; font-style:normal;}
pre,code{ display:block;}
label,input,textarea,select,button{font-family:Arial,"Hiragino Sans GB","黑体-简"; margin:0px; padding:0px; vertical-align:middle; outline:none;}
input,button,select,img{line-height:normal;}
img{ vertical-align: middle;}
a{ color:#4c4d4d;text-decoration:none; outline: none;}
a:hover{ color:#e76f12; text-decoration:none; }
a:active{ outline: none;  star:expression(this.onFocus=this.blur());}
*{ box-sizing:border-box;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;}

/* 浮动方式 */
.fl{ float:left; display:inline;}.fr{ float:right; display:inline;}.fn{ float:none}.clear{ clear:both;}

/* 定位方式 */
.relative{ position: relative;}.absolute{ position:absolute;}.fixed{ position:fixed;}

/* 显示隐藏 */
.dis{ display:block;}.undis{ display:none;}

/* 字体对齐方式 */
.tl{ text-align:left !important;}.tc{ text-align:center !important;}.tr{ text-align:right !important;}

.clear0{ clear:both;line-height:0px;height:0px;font-size:0px;width:0px;}
.hr-2,.hr-3,.hr-4,.hr-5,.hr-6,.hr-7,.hr-8,.hr-9,.hr-10,.hr-11,.hr-12,.hr-13,.hr-14,.hr-15,.hr-16,.hr-17,.hr-18,.hr-19,.hr-20,.hr-21,.hr-22,.hr-23,.hr-24,.hr-25,.hr-26,.hr-27,.hr-28,.hr-29,.hr-30,.hr-124{clear:both; overflow:hidden; font-size:0px; line-height:0px;}
.hr-2{height:2px;}.hr-3{height:3px;}.hr-4{height:4px;}.hr-5{height:5px;}.hr-6{height:6px;}.hr-7{height:7px;}.hr-8{height:8px;}.hr-9{height:9px;}.hr-10{height:10px;}.hr-11{height:11px;}.hr-12{height:12px;}.hr-13{ height:13px;}.hr-14{ height:14px;}.hr-15{ height:15px;}.hr-16{ height:16px;}.hr-17{ height:17px;}.hr-18{ height:18px;}.hr-19{ height:19px;}.hr-20{ height:20px;}.hr-21{ height:21px;}.hr-22{ height:22px;}.hr-23{ height:23px;}.hr-24{ height:24px;}.hr-25{ height:25px;}.hr-26{ height:26px;}.hr-27{ height:27px;}.hr-28{ height:28px;}.hr-29{ height:29px;}.hr-30{ height:30px;}
.relative{ position:relative;}.absolute{ position:absolute;}.fixed{ position:fixed;}

.mr0{ margin-right:0 !important;}

.layout{ width:1200px; margin:0 auto; clear:both;}


/* 头部 */
.mini_header{ width:100%; height:38px; line-height:38px; background-color:#2d2d2d;}
.mini_header span{ font-size:12px; color:#989898;}
.header_box{ width:100%; height:85px; border:1px solid #f5f5f5; background-color:#fff;}
.header_box .logo{ float:left;}
.header_box .phone{ float:right; margin:18px 18px 0 0;}

/* 导航 */
.nav_box{ width:100%; height:38px; line-height:38px; background-color:#005bb0;}
.nav_list li{ display:inline; float:left; margin-right:12px;}
.nav_list li a{ display:block; padding:0 21px; font-size:16px; color:#fff;}
.nav_list li a:hover{ color:#f89213;}
.nav_list li.active a{ background-color:#f89213;}
.nav_list li.active a:hover{ color:#fff;}



