<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-fragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <title th:text="${title}">Title</title>
    <link href="/assets/images/favicon.ico" th:href="@{/assets/images/favicon.ico}" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.3.0/weui.min.css"/>
    <link rel="stylesheet" th:href="@{/assets/css/user.css?v=20dd2d0d01dd1s}" href="/assets/css/user.css" />
    <!--<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <script type="text/javascript" src="/assets/js/zepto.min.js" th:src="@{/assets/js/zepto.min.js}" ></script>
</head>