<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="header::header-fragment"></header>
<body ontouchstart>
<link rel="stylesheet" th:href="@{/assets/css/style.css}" href="/assets/css/style.css" />
<link rel="stylesheet" th:href="@{/assets/css/weuix.css}" href="/assets/css/weuix.css" />
<div class="page">
    <h4><a href="/wxl">进入微心理</a> </h4>
    <h4><a href="/blog">进入微博客</a></h4>
</div>

<div><p><href="https://beian.miit.gov.cn/">皖ICP备17010158号-2</a></p></div>
</body>
</html>